@import url("https://fonts.googleapis.com/css2?family=Labrada&family=Tilt+Neon&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Labrada", serif;
  font-family: "Tilt Neon", cursive;
}
